@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96.9%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper { width: 100%;}
header nav { background-color: #f1f1f1;}

header ul {
  width: 80%;
  padding: 15px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li a {
  color: #0d2138;
  font-size: 23px;
}

header li:last-child { 
  display: none;
  text-indent: -9999px;
}

header li:last-child::before {
  content: '\f0c9';
  float: right;
  font-family: 'fontAwesome';
  font-size: 25px;
  text-indent: 0;
}

header .wrapper > div { 
  width: 96.9%;
  margin: 80px auto 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* slider section start */

.slider-image { overflow: hidden;}

.slider-image ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.slider-image li { min-width: 100%;}

.slider-control { 
  padding: 10px 1.5%;
  background-color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
}

.slider-control > a { text-indent: -9999px;}

.slider-control > a::before {
  color: #ffffff;
  float: left;
  font-family: 'fontAwesome';
  font-size: 32px;
  text-indent: 0;
  cursor: pointer;
}

.slider-control > a:first-child::before { content: '\f0a8';}
.slider-control > a:last-child::before { content: '\f0a9';}

/* slider section end */

/* we-offer section start */

.we-offer { margin: 96px 0 104px;}

.we-offer h2 {
  width: 16.4%;
  padding-bottom: 18px;
  border-bottom: 7px solid #cccccc;
  margin: 0 auto 60px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.we-offer ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.we-offer li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 41px 1.7% 38px;
}

.we-offer li:first-child { background-color: #f1f1f1;}
.we-offer li:nth-child(2) { background-color: #bbbbbb;}

.we-offer li:nth-child(3) { 
  background-color: #616161;
  color: #fffffe;
}

.we-offer li:nth-child(4) { 
  background-color: #000000;
  color: #fffffe;
}

.we-offer h3 {
  margin-bottom: 26px;
  font-size: 30px;
}

.we-offer p {
  padding-right: 4%;
  font-size: 19px;
  line-height: 1.5;
}

/* we-offer section end */

/* pricing-plans section start */

.pricing-plans h2 {
  width: 16.4%;
  margin: 0 auto 30px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.pricing-plans h3 {
  text-align: center;
  font-size: 19.1px;
}

.plans {
  margin: 105px 0 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.plan {
  width: 32.15%;
  border: 1px solid #d3d3d3;
  text-align: center;
  text-transform: capitalize;
}

.plan li { display: block;}

.plan li { 
  padding: 25px 0 24px;
  border-top: 1px solid #d3d3d3;
  color: #181209;
  font-size: 18px;
}

.plan .plan-name {
  padding: 48px 0;
  border: 0;
  background-color: #000000;
  color: #fffffd;
  font-size: 30px;
}

.plan .pro { background-color: #616161;}
.plan span { font-weight: bold;}

.plan .price {
  color: #b7b5ca;
  text-transform: lowercase;
}

.plan .price span {
  margin: 19px 0 20px;
  display: block;
  color: #181209;
  font-size: 38px;
  font-weight: normal;
}

.plan .sign-up {
  padding: 31px 0 30px;
  background-color: #f1f1f1;
}

.plan .sign-up a {
  padding: 19px 7.5%;
  background-color: #4caf50;
  color: #e4f7e4;
  font-size: 18px;
}

/* pricing-plans section end */

/* we-are section start */

.we-are h2 {
  width: 13.7%;
  padding-bottom: 18px;
  border-bottom: 7px solid #cccccc;
  margin: 0 auto 60px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.we-are ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.we-are li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32.3%;
  border: 1px solid #d5d5d5;
}

.we-are h3 { 
  padding: 20px 4.8% 0;
  font-size: 25px;
}

.we-are span {
  padding: 20px 4.8% 14px;
  display: block;
  color: #94a5ac;
  font-size: 18.5px;
}

.we-are p {
  padding: 10px 4.8%;
  color: #68777f;
  font-size: 18.5px;
  line-height: 1.4;
}

.we-are a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 0;
  margin: 10px 4.8% 19px;
  display: block;
  text-align: center;
  background-color: #f1f1f1;
  color: #132d34;
  font-size: 20px;
}

/* we-are section end */

/* contact-us section start */

.contact { margin-top: 112px;}

.contact h2{
  width: 11.5%;
  padding-bottom: 18px;
  border-bottom: 7px solid #cccccc;
  margin: 0 auto 60px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

form { margin: 75px 0 105px;}

.form-group { padding: 12px 0;}

form label {
  font-size: 18px;
  font-weight: 500;
}

form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 14px 1%;
  border: 2px solid #d5d5d5;
  margin: 2px 0;
  font-size: 18px;
  outline: none;
}

form span { 
  display: none;
  color: #ff2b2b;
}

form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  border: 1px solid #000000;
  margin-top: 6px;
  background-color: #000000;
  color: #cccccc;
  font-size: 18px;
}

/* contact-us section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 62px 0 46px;
  background-color: #f1f1f1;
  text-align: center;
}

footer h3 { font-size: 26px;}

footer .to-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12.8%;
  padding: 15px 0;
  margin: 35px auto;
  display: block;
  background-color: #000000;
  color: #edf6fc;
  font-size: 19px;
}

footer span::before {
  content: '\f062';
  font-family: 'fontAwesome';
  margin-right: 11%;
  color: #ffffff;
}

.social-media {
  width: 14.5%;
  margin: 50px auto 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-media a { text-indent: -9999px;}

.social-media li a::before {
  float: right;
  color: #000000;
  font-family: 'fontAwesome';
  font-size: 32px;
  text-indent: 0;
}

.social-media li:first-child a::before { content: '\f230';}
.social-media li:nth-child(2) a::before { content: '\f16d';}
.social-media li:nth-child(3) a::before { content: '\f2ab';}
.social-media li:nth-child(4) a::before { content: '\f231';}
.social-media li:nth-child(5) a::before { content: '\f099';}
.social-media li:nth-child(6) a::before { content: '\f0e1';}

footer p { font-size: 19px;}

footer p a { 
  color: #000000;
  text-decoration: underline;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for hover starts here*/
@media only screen and (min-width: 1024px) {

  header nav a:hover { opacity: 0.6;}
  .slider-control > a:hover::before { opacity: 0.6;}
  .plan .sign-up a:hover { opacity: 0.7;}
  .we-are a:hover { background-color: #aaaaaa;}
  form button:hover { opacity: 0.6;}
  footer .to-top:hover { opacity: 0.6;}
  .social-media li a:hover::before { opacity: 0.6;}
  footer p a:hover { text-decoration: none;}

}  

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

  .we-offer h2 { width: 18%;}

  .we-are h2,
  .contact h2 { width: 15%;}

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .we-offer h2 { width: 22%;}
  .pricing-plans h2 { width: 30%;}

  .we-are h2,
  .contact h2 { width: 20%;}

  footer .to-top { width: 20%;}
  .social-media { width: 25%;}
}

/*media query for 720px starts here*/
@media only screen and (max-width: 720px) {

  .we-offer h2 { width: 32%;}

  .we-offer ul,
  .plans { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column;
  }

  .plan { 
    width: 80%;
    margin: 20px auto;
  }

  .we-are h2{ width: 30%;}

  .we-are ul { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column;
  }

  .we-are li { 
    width: 60%;
    margin: 20px auto;
  }

  .contact h2 { width: 26%;}
  footer .to-top { width: 25%;}
  .social-media { width: 30%;}
}

/*media query for 425px starts here*/
@media only screen and (max-width: 520px) {

  header nav ul { 
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
      justify-content: end;
  }

  header nav li { display: none;}

  header nav li:last-child { display: block;}

  header nav .active {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;    
    background-color: #94a5ac;
  }

  header .active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
      justify-content: center;
  }

  header .active li {
    margin: 20px 0;
    display: block;
  }

  header .active li:last-child {
    position: absolute;
    top: 0;
    right: 5%;
  }

  header .active li:last-child::before { content: '\f00d';}

}

/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {

  .we-offer h2 { width: 55%;}
  .pricing-plans h2 { width: 60%;}
  .we-are h2 { width: 50%;}
  .we-are li { width: 80%;}
  .contact h2 { width: 40%;}
  footer .to-top { width: 40%;}
  .social-media { width: 50%;}

}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {

  .we-offer h2 { width: 70%;}
  .we-are h2 { width: 60%;}
  .plan { width: 95%;}
  .we-are li { width: 90%;}
  .contact h2 { width: 50%;}
  footer .to-top { width: 50%;}
  .social-media { width: 70%;}
}